/******<<>>（https://www.wyeditor.com，免费软件欢迎下载使用） 样式文件*******/
body{background-image:url("../images/img0_3840x2160.jpg");background-repeat: no-repeat;background-size:contain;}
html, body{margin:0cm;padding:0cm;height: 100%;width:100%}
a{color:#000000;text-decoration:none }  
a:visited{COLOR:#000000;TEXT-DECORATION:none }  
a:active{color:#000000;text-decoration:none }  
a:hover{color:#000000;text-decoration:underline }  

#BKA {
position:relative;
z-index:1;
top: 0px;
left: 50%; 
width:1024px;
height:1024px;
margin-left: -512px; 
background-color: #FFFFFF;
box-sizing:border-box}

#LBk {
position:absolute;
z-index:1;
top: 0px; 
left: 0px; 
width:100%;
height:100%;
background-color: #FFFFFF;
background-image:url("../images/img0_3840x2160.jpg");background-repeat: no-repeat;background-size:contain;border: 2px solid #E8E7E7;;box-sizing:border-box}

.footer {
position:relative !important;
z-index:0;
overflow:hidden;
left:0px;
width:99.9%;
top:0px;
height:0px;
outline: 0;
background-color: #FFFFFF;
border: 1px solid #F2F2F2;box-sizing:border-box
}

.text_1 {
position:absolute !important;
z-index:0;
left:427px;
width:150px;
top:0px;
height:30px;
outline: 0;
background-color: transparent;
font-size: 13px;
text-align: justify;box-sizing:border-box
}

.text_tb{overflow-x:hidden;overflow-y:hidden;display: table}
.text_1_b{text-align: justify;display: table-cell;vertical-align: middle}
.text_929625 {
position:absolute !important;
z-index:0;
left:28px;
width:430px;
top:56px;
height:57px;
outline: 0;
background-color: transparent;
font-size: 30px;
text-align: justify;box-sizing:border-box
}

.text_929625_b{text-align: justify;display: table-cell;vertical-align: middle}
.QrCode_378150 {
position:absolute !important;
z-index:0;
overflow:hidden;
left:38px;
width:179px;
top:111px;
height:179px;
outline: 0;
background-color: #FFFFFF;
border: 1px solid #F2F2F2;box-sizing:border-box
}

.TabsDiv2 {
position:absolute !important;
z-index:0;
left:236px;
width:744px;
top:137px;
height:275px;
outline: 0;
box-sizing:border-box
}

.TabsDiv2_tabitem1__tab_div2 {
position:absolute !important;
z-index:0;
overflow:hidden;
right:0px; 
left:0px;
bottom:245px; 
top: 0px;
outline: 0;
background-color: #FFFFFF;
box-sizing:border-box
}

.img_744353 {
position:absolute !important;
z-index:0;
left:0px;
width:333px;
top:0px;
height:245px;
outline: 0;
box-sizing:border-box
}

.img_744353_img {
position:relative !important;
z-index:0;
text-align:middle;
left: 0px;
width:333px;
top: 0px;
height:245px;
outline: 0;
font-family: "宋体";
font-size: 13px;
border:0px;box-sizing:border-box
}

.text_746929 {
position:absolute !important;
z-index:0;
left:364px;
width:150px;
top:15px;
height:30px;
outline: 0;
background-color: transparent;
font-size: 13px;
text-align: justify;box-sizing:border-box
}

.text_746929_b{text-align: justify;display: table-cell;vertical-align: middle}
 #button_509282:Hover 
 { 
 background-color: #FFFFFF !important; outline: 0; 

}
 #button_509282:focus 
 { 
 background-color: #FFFBF0 !important; outline: 0; 

}
.button_509282 {
position:absolute !important;
z-index:0;
left:364px;
width:126px;
top:60px;
height:54px;
outline: 0;
background-color: #F0FFFF;
font-family: "宋体";
font-size: 12px;
border: 1px solid #FF0000;border-radius: 5px;box-sizing:border-box
}

.img_326664 {
position:absolute !important;
z-index:0;
left:0px;
width:210px;
top:0px;
height:245px;
outline: 0;
box-sizing:border-box
}

.img_326664_img {
position:relative !important;
z-index:0;
text-align: type="button";
left: 0px;
width:210px;
top: 0px;
height:245px;
outline: 0;
font-family: "宋体";
font-size: 13px;
border:0px;box-sizing:border-box
}

.img_58619 {
position:absolute !important;
z-index:0;
left:557px;
width:187px;
top:0px;
height:245px;
outline: 0;
box-sizing:border-box
}

.img_58619_img {
position:relative !important;
z-index:0;
text-align: type="button";
left: 0px;
width:187px;
top: 0px;
height:245px;
outline: 0;
font-family: "宋体";
font-size: 13px;
border:0px;box-sizing:border-box
}

 #button_588612:Hover 
 { 
 background-color: #FFFFFF !important; outline: 0; 

}
 #button_588612:focus 
 { 
 background-color: #FFFBF0 !important; outline: 0; 

}
.button_588612 {
position:absolute !important;
z-index:0;
left:227px;
width:123px;
top:30px;
height:47px;
outline: 0;
background-color: #F0FFFF;
font-family: "宋体";
font-size: 12px;
border: 1px solid #FF0000;border-radius: 5px;box-sizing:border-box
}

.text_644826 {
position:absolute !important;
z-index:0;
left:224px;
width:150px;
top:81px;
height:30px;
outline: 0;
background-color: transparent;
font-size: 13px;
text-align: justify;box-sizing:border-box
}

.text_644826_b{text-align: justify;display: table-cell;vertical-align: middle}
.text_410481 {
position:absolute !important;
z-index:0;
left:298px;
width:215px;
top:113px;
height:80px;
outline: 0;
background-color: transparent;
font-size: 40px;
text-align: justify;box-sizing:border-box
}

.text_410481_b{text-align: justify;display: table-cell;vertical-align: middle}
 #button_85252:Hover 
 { 
 background-color: #FFFFFF !important; outline: 0; 

}
 #button_85252:focus 
 { 
 background-color: #FFFBF0 !important; outline: 0; 

}
.button_85252 {
position:absolute !important;
z-index:0;
left:433px;
width:118px;
top:199px;
height:46px;
outline: 0;
background-color: #F0FFFF;
font-family: "宋体";
font-size: 12px;
border: 1px solid #FF0000;border-radius: 5px;box-sizing:border-box
}

.text_679767 {
position:absolute !important;
z-index:0;
left:0px;
width:161px;
top:0px;
height:83px;
outline: 0;
background-color: transparent;
font-size: 50px;
text-align: justify;box-sizing:border-box
}

.text_679767_b{text-align: justify;display: table-cell;vertical-align: middle}
 #button_356696:Hover 
 { 
 background-color: #FFFFFF !important; outline: 0; 

}
 #button_356696:focus 
 { 
 background-color: #FFFBF0 !important; outline: 0; 

}
.button_356696 {
position:absolute !important;
z-index:0;
left:0px;
width:121px;
top:109px;
height:48px;
outline: 0;
background-color: #F0FFFF;
font-family: "宋体";
font-size: 12px;
border: 1px solid #FF0000;border-radius: 5px;box-sizing:border-box
}

 #button_564802:Hover 
 { 
 background-color: #FFFFFF !important; outline: 0; 

}
 #button_564802:focus 
 { 
 background-color: #FFFBF0 !important; outline: 0; 

}
.button_564802 {
position:absolute !important;
z-index:0;
left:154px;
width:120px;
top:110px;
height:47px;
outline: 0;
background-color: #F0FFFF;
font-family: "宋体";
font-size: 12px;
border: 1px solid #FF0000;border-radius: 5px;box-sizing:border-box
}

 #button_16451:Hover 
 { 
 background-color: #FFFFFF !important; outline: 0; 

}
 #button_16451:focus 
 { 
 background-color: #FFFBF0 !important; outline: 0; 

}
.button_16451 {
position:absolute !important;
z-index:0;
left:307px;
width:118px;
top:114px;
height:45px;
outline: 0;
background-color: #F0FFFF;
font-family: "宋体";
font-size: 12px;
border: 1px solid #FF0000;border-radius: 5px;box-sizing:border-box
}

.img_75389 {
position:absolute !important;
z-index:0;
left:0px;
width:303px;
top:0px;
height:245px;
outline: 0;
box-sizing:border-box
}

.img_75389_img {
position:relative !important;
z-index:0;
text-align: type="button";
left: 0px;
width:303px;
top: 0px;
height:245px;
outline: 0;
font-family: "宋体";
font-size: 13px;
border:0px;box-sizing:border-box
}

.img_18647 {
position:absolute !important;
z-index:0;
left:279px;
width:465px;
top:0px;
height:245px;
outline: 0;
box-sizing:border-box
}

.img_18647_img {
position:relative !important;
z-index:0;
text-align: type="button";
left: 0px;
width:465px;
top: 0px;
height:245px;
outline: 0;
font-family: "宋体";
font-size: 13px;
border:0px;box-sizing:border-box
}

.Input_757105 {
position:absolute !important;
z-index:0;
text-align: type="button";
left:26px;
width:160px;
top:67px;
height:25px;
outline: 0;
background-color: #FFFFFF;
font-family: "宋体";
font-size: 12px;
border: 1px solid #EEEAEA;border-radius: 5px;box-sizing:border-box
}

 #button_72190:Hover 
 { 
 background-color: #FFFFFF !important; outline: 0; 

}
 #button_72190:focus 
 { 
 background-color: #FFFBF0 !important; outline: 0; 

}
.button_72190 {
position:absolute !important;
z-index:0;
left:34px;
width:399px;
top:131px;
height:105px;
outline: 0;
background-color: #F0FFFF;
font-family: "宋体";
font-size: 12px;
border: 1px solid #FF0000;border-radius: 5px;box-sizing:border-box
}

.text_426830 {
position:absolute !important;
z-index:0;
left:303px;
width:271px;
top:0px;
height:53px;
outline: 0;
background-color: transparent;
font-size: 40px;
text-align: justify;box-sizing:border-box
}

.text_426830_b{text-align: justify;display: table-cell;vertical-align: middle}
 *{margin:0;padding:0;list-style-type:none;} 
 /* flexslider */ 
  a,img{border:0;} 
 .slides{position:relative;z-index:1;} 
 .slides li{top:0px;height:100%;} 
 .flex-control-nav{position:absolute;bottom:15px;z-index:2;width:100%;text-align:center;} 
 .flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;} 
 .flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(../images/dot.png) right 0 no-repeat;cursor:pointer;} 
 .flex-control-nav .flex-active{background-position:0 0;} 
  
 .flex-direction-nav{position:absolute;z-index:3;width:100%;top:38%;} 
 .flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;} 
 .flex-direction-nav li a.flex-prev{left:10px;background:url(../images/prev.png) center center no-repeat;} 
 .flex-direction-nav li a.flex-next{right:10px;background:url(../images/next.png) center center no-repeat;} 

.text_792947 {
position:absolute !important;
z-index:0;
left:50px;
width:150px;
top:299px;
height:30px;
outline: 0;
background-color: transparent;
font-size: 13px;
text-align: justify;box-sizing:border-box
}

.text_792947_b{text-align: justify;display: table-cell;vertical-align: middle}
.music_934197 {
position:absolute !important;
z-index:0;
overflow:hidden;
left:22px;
width:50px;
top:333px;
height:50px;
outline: 0;
background-color: #FFFFFF;
border-left:0px;border-top:0px;border-right:0px;border-bottom:0px;box-sizing:border-box;display:none
}

.text_157412 {
position:absolute !important;
z-index:0;
left:444px;
width:150px;
top:994px;
height:30px;
outline: 0;
background-color: transparent;
font-size: 13px;
text-align: justify;box-sizing:border-box
}

.text_157412_b{text-align: justify;display: table-cell;vertical-align: middle}
